.lesson-wrapper {
  height: 1000px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 1400px;
  }
}

@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 2200px;
  }
}